<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('../partials/header') %>

    <% users.forEach((item, i)=> {
        %>
        <div class="">
            <a href="http://localhost:5000/blog/<%= item.id%>">
                <%= item.title%>
            </a>
                user_id <%= item.user_id%>
                id <%= item.id%>
                title <%= item.title%>
                title <%= item.date_created%>
            </a>
            
        </div>
        <% }); %>
    <%- include('../partials/footer') %>
    
</body>
</html>