<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="container-fluid">
                <div class="card-group">
                    <% users.forEach((item, i)=> {
                        %>
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top" src="<%= item.img_url%>" alt="Card image">
                                <div class="card-body">
                                    <h3><a class="card-title" href="http://localhost:5000/blog/<%= item.id%>">
                                            <%= item.title%>
                                        </a></h3>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            <%= item.date_created%>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <%- include('../partials/footer') %>
            </div>
    </body>

    </html>