<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <h1><%-users[0].user_name%></h1> 
        <h1><%-users[2].user_name%></h1> 
        <h1><%-users[1].user_name%></h1> 
        <h1><%-users[1].user_name%></h1> 

        <% users.forEach((item, i)=> {
            %>
            <div class="">
                <%= item.user_name%>
                    <%= item.password%>
            </div>
            <% }); %>
        <%- include('../partials/footer') %>
</body>

</html>