<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="container-fluid">
                <div class="card-group">
                    <% users.forEach((item, i)=> {
                        %>
                        <div class="col">
                            <a href="http://localhost:5000/blog/<%= item.id%>">
                                <div class="card bg-light">
                                    <div position-relative>
                                        <form action="http://localhost:5000/deletePost/<%= item.id%>" method="post">
                                            <button type="submit" class="btn btn-dark position-absolute top-0 end-0"
                                                aria-label="Close">x</button>
                                        </form>
                                        <img class="card-img-top" src="<%= item.img_url%>" alt="Card image">
                                    </div>
                                    <div class="card-body">
                                        <h3><a class="card-title" href="http://localhost:5000/blog/<%= item.id%>">
                                                <%= item.title%>
                                            </a></h3>
                                        <div class="card-footer">
                                            <small class="text-muted">
                                                <%= item.date_created%>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>

                <%- include('../partials/footer') %>
            </div>
    </body>

    <script>
        // <%- include('../partials/script') %>
    </script>

    </html>