<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

    <a href="http://localhost:5000/create-post">Create A Post</a>

    <% users.forEach((item, i)=> {
        %>
        <div class="">
            <a class='blog-card' href="http://localhost:5000/blog/<%= item.id%>">
                <%= item.title%>
            </a>
            
        </div>
        <% }); %>
    <%- include('../partials/footer') %>

        <h1><%- users[0].title %></h1> 
        <h1></h1> 
        <h1></h1> 
        <h1></h1> 
        <h1></h1> 

       
</body>

</html> 
"id",
"user_id",
"title",
"category",
"post",
"img_url",
"date_created"