<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <h1>
            <%= title%>
        </h1>
        <% data.forEach((item, i)=> {
            %>
            <div class="">
                <%= item.name%>
                    <%= item.price%>
            </div>
            <% }); %>
                <%- include('../partials/footer') %>
</body>

</html>